.chatroom{
   padding:5px;

   .chatroom__wrapper{
    padding:5px;
    
    .chatroom__sidebar{
        width:20%;
        float:left;

        .chatroom-btn{
            background:rgb(48, 130, 252);
            color:white;
            width:80%;
            border-radius: 4px;
            display:block;
            margin:2px 2px;
            padding:2px;
            text-align: center;

        }
    }

    .chatroom__content{
        width:80%;
        float:left;

    .message__list{
        padding:15px;
        height:400px;
        background:white;
        border-radius: 6px;
        position: relative;
        overflow-y: scroll;

        .current_user_message{
            background:rgb(104, 169, 230);
            color:white;
            padding:5px;
            margin:2px;
            width:80%;
            float:right;
            border-radius:6px;
        }

        .other_user_message{
            background:rgb(238, 237, 237);
            padding:5px;
            margin:2px;
            width:80%;
            float:left;
            border-radius:6px;
        }

        img {
            width:200px;
            height:200px;
        }
    }

    .chat__input{
        margin-top:10px;

        input{
            width:100%;
            font-size:120%;
            padding:5px 10px;
            border: 1px solid rgb(172, 172, 172);
            border-radius:5.5px;

            &:focus{
                outline:none;
            }
        }

        .multi-media{
            width:100%;

            .qrcode-input-wrapper{
                position:relative;
                float:left;
                button{
                    width:auto;
                    font-size:10px;
                    margin:3px 5px;
                    color:rgb(136, 134, 134);
                    background:rgb(255, 255, 255);
                    border-radius:5.5px;
                    float:left;
                    border:1.2px solid rgb(204, 204, 204);
                }

                .qrcode-input{
                    border-radius:5.5px;
                    position:absolute;
                    border:1.2px solid rgb(177, 177, 177);
                    bottom:60px;
                    left:20px;
                    background:#FFF;
                    width:250px;
                    padding:5px;

                    p{
                        text-align:center;
                        font-weight:bold;
                    }

                    button{
                        background:rgb(21, 165, 2);
                        color:white;
                       margin:2px;
                        font-size:14px;
                    }
                }
            }

            .image-input-wrapper{
                position:relative;
                float:left;
                button{
                    width:auto;
                    font-size:10px;
                    margin:3px 5px;
                    color:rgb(136, 134, 134);
                    background:rgb(255, 255, 255);
                    border-radius:5.5px;
                    float:left;
                    border:1.2px solid rgb(204, 204, 204);
                }

                .image-input{
                    border-radius:5.5px;
                    position:absolute;
                    border:1.2px solid rgb(177, 177, 177);
                    bottom:60px;
                    left:20px;
                    background:#FFF;
                    width:250px;
                    padding:5px;

                    p{
                        text-align:center;
                        font-weight:bold;

                    }

                    button{
                        background:rgb(21, 165, 2);
                        color:white;
                       margin:2px;
                        font-size:14px;
                    }
                }
            }

            .emoji-picker-wrapper{
                position:relative;
                float:left;
                button{
                    width:auto;
                    font-size:10px;
                    margin:3px 5px;
                    color:rgb(136, 134, 134);
                    background:rgb(255, 255, 255);
                    border-radius:5.5px;
                    float:left;
                    border:1.2px solid rgb(204, 204, 204);
                }

               
            }
        }
    }
    }
   }
}