.map-info-panel{
 width: 300px;
 height:815px;
 background-color: white;
 position: absolute;
 top: 0;
 left: 10px;
 padding: 35px 0px 35px 0px;

    .map-info-content{
      background-color: white;
      height:750px;
    }
}